.header{
    
}
.navigation{
    background-color: aquamarine;
}
.navigation li{
    list-style-position: none;
    display: inline-block;
    margin-right: 50px;
    margin-top:10px;
    height: 30px;
}
.container li{
    list-style-type: none;
    display:inline-block;
}

.facts{
    display:inline-block;
    width: 30%;
}